body {
    color: #eeeeec;
    font-family: "Source Code Pro",monospace,sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(../images/background_blur.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
}

.terminal {
    background: #353535;
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 640px;
    min-height: 480px;
    border-radius: 10px;
    position: absolute;
    opacity: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.terminal-text {
    padding: 20px 10px;
    margin: 12px;
}

h1 {
    margin: 0;
    color: #6c99bb;
    text-align: center;
    padding: 0 0 20px;
    font-size: 2.4em;
    text-shadow: #000000 0px 1px;
}

p {
    overflow: hidden;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.2em;
}

.command {
    margin-top: 20px;
}

hr {
    border: none;
    border-top: 1px solid #5b5b5b;
}

a {
    font-weight: bold;
    color: #d197d9;
    text-decoration: none;
}

a:focus, a:hover {
    outline: none;
    border-bottom: #d197d9 2px solid;
}

.file {
    margin-right: 20px;
    padding-right: 10px;
    white-space: nowrap;
}

.content {
    word-wrap: normal;
}

.shell {
    color: #a5c261;
}

.shell-input {
    background: transparent;
    border: 0;
    color: #eeeeec;
    font-family: "Source Code Pro",monospace,sans-serif;
    font-size: 1em;
    caret-color: #eeeeec;
    margin-right: 0;
    padding-right: 0;
}

.shell-input:focus {
    border: 0;
    outline: none;
    caret-color: #eeeeec;
}
