body {
    color: #eeeeec;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(https://robanderson.dev/images/background_blur.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
}

.terminal {
    /*background: #353535;*/
    background-color: rgba(53, 53, 53, 0.8);
    text-align: left;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    /*opacity: 80%;*/
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    padding-bottom: 20px;
}

.centre {
    width: 100%;
    text-align: center;
}

.rendered {
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3 {
    text-shadow: #000000 0 1px;
}

p {
    overflow: hidden;
    padding: 0;
    margin: 10px 0;
    font-size: 1em;
}

hr {
    border: none;
    border-top: 1px solid #5b5b5b;
}

a {
    color: #d197d9;
}

img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid;
}

code {
    font-size: 0.9em;
    font-family: 'Source Code Pro',monospace,sans-serif;
    font-style: normal;
}

.post {
    margin: 20px;
}

a.home {
    color: #6c99bb;
    text-decoration: none;
}

blockquote {
    font-style: italic;
    border-left: 2px solid #eeeeec;
    padding-left: 10px;
}